* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* set some variables for color background, and the 3 article boxes. Also one for margin bottom for the article blocks*/
:root {
    --primary-color: #0072bb;
    --white: #ffffff;
    --tertiary-color: #d9dcd6;
    --margin-bottom: 20px;
}
body {
    background-color: var(--tertiary-color);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: var(--white);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: var(--tertiary-color);
}

/* added nav to the html so I had to add it to my css classes to assure they stay consistent*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: var(--white);
    text-decoration: none;
}

/*raised the font size from 16-20px to resemble the mock up a little closer*/
p {
    font-size: 20px;
}

/* raised the image height from 900 to 1300px to closer match the mock up*/
.hero {
    height: 1300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("./assets/images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 10px;
}

/* Consolidated the benefits and products sections below to eliminate lines of code and keep the same look*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.strategies p {
    margin-bottom: 32px;
    color: var(--white);
}


.strategies h3 {
    margin-bottom: 10px;
    text-align: center;
}


.strategies img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}


.products {
    margin-bottom: var(--margin-bottom);
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--primary-color);
    color: var(--white);
}


.products img {
    max-height: 200px;
}


.products h2 {
    margin-bottom: var(--margin-bottom);
    font-size: 36px;
}


.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}